fieldset, .buttons, .container {
	margin-top : 1em;
}
fieldset {
	border : groove;
	padding : 0.5em;
}
h1 {
	font-size: 2em;
	text-align: center;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.btnInline {
	margin: 1.96em 0;
}
.error {
  border-color: red;
}
span {
	color: red;
	font-size: 80%;
}