<form name="editUsuario">
	<fieldset ng-show="tipoUsuario == 'profesional'">
		<div class="tab">
			<button class="tablinksProf active" onclick="openTab(event, 'personalProf', 'tablinksProf', 'tabcontentProf')">Personal</button>
			<button class="tablinksProf" onclick="openTab(event, 'direccionProf', 'tablinksProf', 'tabcontentProf')">Dirección</button>
		</div>
		<div id="personalProf" class="tabcontentProf" style="display: block;">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputNumeroColegiado">Número Colegiado</label>
					<input id="inputNumeroColegiado" name="inputNumeroColegiado" type="number" class="form-control" ng-model="profesional.numeroColegiado" ng-readonly="soloLectura" required 
						ng-class="{error: editUsuario.inputNumeroColegiado.$invalid && !editUsuario.$pristine}" />
					<span ng-show="!editUsuario.$pristine && editUsuario.inputNumeroColegiado.$error.required">Número Colegiado</span>
				</div>
				<div class="form-group col-md-6">
					<label for="inputNifProf">NIF o Pasaporte</label>
					<input id="inputNifProf" type="text" class="form-control" ng-model="profesional.nif" ng-readonly="soloLectura" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputNombreProf">Nombres</label>
					<input id="inputNombreProf" name="inputNombreProf" type="text" class="form-control" ng-model="profesional.nombre" ng-readonly="soloLectura" required 
						ng-class="{error: editUsuario.inputNombreProf.$invalid && !editUsuario.$pristine}" />
					<span ng-show="!editUsuario.$pristine && editUsuario.inputNombreProf.$error.required">Nombres es obligatorio</span>
				</div>
				<div class="form-group col-md-6">
					<label for="inputPrimerApellidoProf">Primer Apellido</label>
					<input id="inputPrimerApellidoProf" name="inputPrimerApellidoProf" type="text" class="form-control" ng-model="profesional.primerApellido" ng-readonly="soloLectura" required 
						ng-class="{error: editUsuario.inputPrimerApellidoProf.$invalid && !editUsuario.$pristine}" />
					<span ng-show="!editUsuario.$pristine && editUsuario.inputPrimerApellidoProf.$error.required">Primer Apellido es obligatorio</span>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputSegundoApellidoProf">Segundo Apellido</label>
					<input id="inputSegundoApellidoProf" type="text" class="form-control" ng-model="profesional.segundoApellido" ng-readonly="soloLectura" />
				</div>
				<div class="form-group col-md-6">
					<label for="inputGeneroProf">Genero</label>
					<select id="inputGeneroProf" class="form-control" ng-model="profesional.genero" ng-disabled="soloLectura">
					  <option value="">Seleccione...</option>
					  <option value="M">M</option>
					  <option value="F">F</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputFechaNacimientoProf">Fecha Nacimiento</label>
					<input id="inputFechaNacimientoProf" type="date" class="form-control" ng-model="profesional.fechaNacimiento" ng-readonly="soloLectura" />
				</div>
				<div class="form-group col-md-6">
					<label for="inputTipo">Tipo Profesional</label>
					<select id="inputTipo" class="form-control" ng-model="profesional.tipo" ng-disabled="soloLectura">
					  <option value="">Seleccione...</option>
					  <option value="Administrativo">Administrativo</option>
					  <option value="Enfermero">Enfermero</option>
					  <option value="Médico">Médico</option>
					</select>
				</div>
			</div>
		</div>
		<div id="direccionProf" class="tabcontentProf" style="display: none;">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCodigoPostalProf">Código Postal</label>
					<input id="inputCodigoPostalProf" type="text" class="form-control" ng-model="profesional.direccion.codigoPostal" ng-readonly="soloLectura" />
				</div>
				<div class="form-group col-md-6">
					<label for="inputCiudadProf">Ciudad</label>
					<input id="inputCiudadProf" type="text" class="form-control" ng-model="profesional.direccion.ciudad" ng-readonly="soloLectura" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCalleProf">Calle</label>
					<input id="inputCalleProf" type="text" class="form-control" ng-model="profesional.direccion.calle" ng-readonly="soloLectura" />
				</div>
				<div class="form-group col-md-6">
					<label for="inputNumeroProf">Número</label>
					<input id="inputNumeroProf" type="text" class="form-control" ng-model="profesional.direccion.numero" ng-readonly="soloLectura" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputPuertaProf">Puerta</label>
					<input id="inputPuertaProf" type="text" class="form-control" ng-model="profesional.direccion.puerta" ng-readonly="soloLectura" />
				</div>
			</div>
		</div>
	</fieldset>

	<fieldset ng-show="tipoUsuario == 'paciente'">
		<div class="tab">
			<button class="tablinks active" onclick="openTab(event, 'personal', 'tablinks', 'tabcontent')">Personal</button>
			<button class="tablinks" onclick="openTab(event, 'direccion', 'tablinks', 'tabcontent')">Dirección</button>
			<button class="tablinks" onclick="openTab(event, 'aseguradoras', 'tablinks', 'tabcontent')">Aseguradoras</button>
		</div>
		
		<div id="personal" class="tabcontent" style="display: block;">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputNhc">Número Historia Clinica</label>
					<input id="inputNhc" name="inputNhc" type="number" class="form-control" ng-model="paciente.nhc" ng-readonly="soloLectura" required 
						ng-class="{error: editUsuario.inputNhc.$invalid && !editUsuario.$pristine}" />
					<span ng-show="!editUsuario.$pristine && editUsuario.inputNhc.$error.required">Número Historia Clinica es obligatorio</span>
				</div>
				<div class="form-group col-md-6">
					<label for="inputNif">NIF o Pasaporte</label>
					<input id="inputNif" type="text" class="form-control" ng-model="paciente.nif" ng-readonly="soloLectura" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputNombre">Nombres</label>
					<input id="inputNombre" name="inputNombre" type="text" class="form-control" ng-model="paciente.nombre" ng-readonly="soloLectura" required
						ng-class="{error: editUsuario.inputNombre.$invalid && !editUsuario.$pristine}" />
					<span ng-show="!editUsuario.$pristine && editUsuario.inputNombre.$error.required">Nombres es obligatorio</span>
				</div>
				<div class="form-group col-md-6">
					<label for="inputPrimerApellido">Primer Apellido</label>
					<input id="inputPrimerApellido" name="inputPrimerApellido" type="text" class="form-control" ng-model="paciente.primerApellido" ng-readonly="soloLectura" required
						ng-class="{ error: editUsuario.inputPrimerApellido.$invalid && !editUsuario.$pristine}" />
					<span ng-show="!editUsuario.$pristine && editUsuario.inputPrimerApellido.$error.required">Primer Apellido es obligatorio</span>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputSegundoApellido">Segundo Apellido</label>
					<input id="inputSegundoApellido" type="text" class="form-control" ng-model="paciente.segundoApellido" ng-readonly="soloLectura" />
				</div>
				<div class="form-group col-md-6">
					<label for="inputGenero">Genero</label>
					<select id="inputGenero" class="form-control" ng-model="paciente.genero" ng-disabled="soloLectura">
					  <option value="">Seleccione...</option>
					  <option value="M">M</option>
					  <option value="F">F</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputFechaNacimiento">Fecha Nacimiento</label>
					<input id="inputFechaNacimiento" type="date" class="form-control" ng-model="paciente.fechaNacimiento" ng-readonly="soloLectura" />
				</div>
			</div>
		</div>
		<div id="direccion" class="tabcontent">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCodigoPostal">Código Postal</label>
					<input id="inputCodigoPostal" type="text" class="form-control" ng-model="paciente.direccion.codigoPostal" ng-readonly="soloLectura" />
				</div>
				<div class="form-group col-md-6">
					<label for="inputCiudad">Ciudad</label>
					<input id="inputCiudad" type="text" class="form-control" ng-model="paciente.direccion.ciudad" ng-readonly="soloLectura" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCalle">Calle</label>
					<input id="inputCalle" type="text" class="form-control" ng-model="paciente.direccion.calle" ng-readonly="soloLectura" />
				</div>
				<div class="form-group col-md-6">
					<label for="inputNumero">Número</label>
					<input id="inputNumero" type="text" class="form-control" ng-model="paciente.direccion.numero" ng-readonly="soloLectura" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputPuerta">Puerta</label>
					<input id="inputPuerta" type="text" class="form-control" ng-model="paciente.direccion.puerta" ng-readonly="soloLectura" />
				</div>
			</div>
		</div>
		<div id="aseguradoras" class="tabcontent">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputNombreAseg">Nombre</label>
					<input id="inputNombreAseg" type="text" class="form-control" ng-model="aseguradora.nombre" ng-readonly="soloLectura" />
				</div>
				<div class="form-group col-md-6">
					<label for="inputTipoSeguro">Tipo Seguro</label>
					<select id="inputTipoSeguro" class="form-control" ng-model="aseguradora.tipo" ng-disabled="soloLectura">
					  <option value="">Seleccione...</option>
					  <option value="Dental">Dental</option>
					  <option value="Familiar">Familiar</option>
					  <option value="Salud">Salud</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputTarjeta">Número Tarjeta</label>
					<input id="inputTarjeta" type="text" class="form-control" ng-model="aseguradora.tarjeta" ng-readonly="soloLectura" />
				</div>
				<div class="form-group col-md-6" ng-hide="soloLectura">
					<input type="button" class="btn btn-warning btnInline" value="Añadir" ng-click="adicionarAseguradora()" />
				</div>
			</div>
			<fieldset>
				<table class="table">
					<thead>
						<tr>
							<th>Aseguradora</th>
							<th>Tipo Seguro</th>
							<th>Número Tarjeta</th>
							<th ng-hide="soloLectura">Opcion</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="aseg in aseguradoras">
							<td>{{aseg.nombre}}</td>
							<td>{{aseg.tipo}}</td>
							<td>{{aseg.tarjeta}}</td>
							<td ng-hide="soloLectura">
								<button ng-click="eliminarAseguradora(aseg)" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
							</td>
						</tr>
					</tbody>
				  </table>
			</fieldset>
		</div>
	</fieldset>
	<div class="buttons text-center" ng-show="tipoUsuario !== ''">
		<input type="button" class="btn btn-success" value="Guardar" ng-click="editarUsuario()" ng-hide="soloLectura" />
	</div>
</form>