<fieldset>
	<h1>{{tituloPacientes}}</h1>
	<table class="table">
		<thead>
			<tr>
				<th>NHC</th>
				<th>Nif/Pasaporte</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Genero</th>
				<th>Fecha Nacimiento</th>
				<th>Opciones</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="paciente in pacientes">
				<td>{{paciente.nhc}}</td>
				<td>{{paciente.nif}}</td>
				<td>{{paciente.nombre}}</td>
				<td>{{paciente.primerApellido}} {{paciente.segundoApellido}}</td>
				<td>{{paciente.genero}}</td>
				<td>{{paciente.fechaNacimiento | date : "short"}}</td>
				<td>
					<a href="#/editar/paciente/{{paciente.nhc}}/true" class="btn btn-outline-success btn-sm" role="button"><i class="fas fa-glasses"></i></a>
					<a href="#/editar/paciente/{{paciente.nhc}}/false" class="btn btn-outline-primary btn-sm" role="button"><i class="far fa-edit"></i></a>
					<button ng-click="eliminarPaciente(paciente)" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
				</td>
			</tr>
		</tbody>
	  </table>
</fieldset>
<fieldset>
	<h1>{{tituloProfesionales}}</h1>
	<table class="table">
		<thead>
			<tr>
				<th>N° Colegiado</th>
				<th>Nif/Pasaporte</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Genero</th>
				<th>Fecha Nacimiento</th>
				<th>Tipo Profesional</th>
				<th>Opciones</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="profesional in profesionales">
				<td>{{profesional.numeroColegiado}}</td>
				<td>{{profesional.nif}}</td>
				<td>{{profesional.nombre}}</td>
				<td>{{profesional.primerApellido}} {{profesional.segundoApellido}}</td>
				<td>{{profesional.genero}}</td>
				<td>{{profesional.fechaNacimiento | date : "short"}}</td>
				<td>{{profesional.tipo}}</td>
				<td>
					<a href="#/editar/profesional/{{profesional.numeroColegiado}}/true" class="btn btn-outline-success btn-sm" role="button"><i class="fas fa-glasses"></i></a>
					<a href="#/editar/profesional/{{profesional.numeroColegiado}}/false" class="btn btn-outline-primary btn-sm" role="button"><i class="far fa-edit"></i></a>
					<button ng-click="eliminarProfesional(profesional)" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
				</td>
			</tr>
		</tbody>
	  </table>
</fieldset>
<div class="buttons text-center">
	<a href="#/usuario" class="btn btn-primary" role="button">Nuevo Usuario</a>
	<button ng-click="eliminarMedicos()" class="btn btn-danger">Borrar Médicos</button>
</div>